{% extends 'base.html' %}
{% block title %}password reset link sent{% endblock title %}
{% load static %}

{% block content %}



    <div id="main-wrapper" class="h-100">
        <div class="container-fluid px-0 h-100">
            <div class="row justify-content-center">
                <!-- Reset Password Form -->
                <div class="col-md-6" style="margin-top:5rem">
                    <div class="container my-4">
                        <h3 class="font-weight-400 mb-4" style="text-align: center;">An email is sent to your email to reset password.<br><small>Please check your email.</small></h3>
                        
                    </div>
                </div>
                <!-- Reset Password Form End -->

                <!-- Welcome Text -->
                
                <!-- Welcome Text End -->
            </div>
        </div>
    </div>

{% endblock content %}