{% extends 'base.html' %}
{% block title %}Contact us{% endblock title %}
{% load static %}
{% block content %}

    <div id="main-wrapper" class="h-100">
        <div class="container-fluid px-0 h-100">
            <div class="row justify-content-center">
                <!-- Reset Password Form -->
                <div class="col-md-6" style="margin-top:5rem">
                    <div class="container my-4">
                      <h2 class="text-dark text-centeer"> Contact Us </h2><br>

                      <h4 class="text-dark">email:preprints@olib.org</h4>
                      <h4 class="text-dark">Cell: +880-1708-082978</h4>
                        
                    </div>
                </div>
                <!-- Reset Password Form End -->

                <!-- Welcome Text -->
                
                <!-- Welcome Text End -->
            </div>
        </div>
    </div>
{% endblock content %}